.customer-list {
  padding: 0;
  margin: 0 auto;

  list-style-type: none;
}

.customer-list__item {
  display: flex;
  justify-content: space-between;

  font-size: 18px;
}

.customer-list__title {
  font-weight: 600;
}

