.edit-panel {
  position: fixed;
  top: 74px;
  left: 0;
  right: 0;

  color: #fff;
  border-color: #fff;

  background-image:
    linear-gradient(
      to bottom,
        rgba(40, 54, 69, 0.6),
        rgba(40, 54, 69, 0.1)
    );
}

.edit-panel__btn-wraper {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  padding: 10px 10px 29px;
  margin: 0 auto;
}

.edit-panel__btn {
  color: #fff;

  border-color: #fff;
}